/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/vendor

# IntelliJ
.idea/

# rspec failure tracking
.rspec_status

# Clone of the client-specification
/client-specification/
