name: CI

on:
  push:
  pull_request:

jobs:
  lint:
    name: RuboCop
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: "3.1"
        bundler-cache: true
    - name: Run RuboCop
      run: bundle exec rubocop
    - name: Run Steep / RBS Type signature verification
      run: |
        bundle exec steep check --steepfile=./Steepfile --severity-level=error | ruby -pe 'sub(/^(.+):(\d+):(\d+): (.+)$/, %q{::error file=\1,line=\2,col=\3::\4})'
      shell: bash

  test:
    runs-on: ${{ matrix.os }}-latest

    strategy:
      matrix:
        os:
          - ubuntu
          - macos
          - windows
        ruby-version:
          - jruby-9.4
          - 3.4
          - 3.3
          - 3.2
          - 3.1
          - '3.0'
          - 2.7
        exclude:
          - os: windows
            ruby-version: jruby-9.4

    needs:
      - lint
    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby ${{ matrix.ruby-version }}
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
          ruby-version: ${{ matrix.ruby-version }}
      - name: Install dependencies
        run: bundle install
      - name: Get test project semver
        id: get_semver
        shell: bash
        run: |
          semver=$(ruby echo_client_spec_version.rb)
          echo "::set-output name=semver::$semver"
      - name: Download test cases
        run: git clone --depth 5 --branch v${{ steps.get_semver.outputs.semver }} https://github.com/Unleash/client-specification.git client-specification
        shell: bash
      - name: Run tests
        run: bundle exec rake
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Coveralls Parallel
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          flag-name: run-${{ matrix.test_number }}
          parallel: true

  finish:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Coveralls Finished
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          parallel-finished: true

